body{
background-image: url('https://pbs.twimg.com/media/DV0uCtTW4AAyeuZ.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Archivo Black', sans-serif;
}
.carouselheadertext{
    font-size: 23px;
}
.carouselheader{

    text-align: center;
}
.signup1{
    font-size: 25px;

}
.donthave{
        font-size: 15px;
    text-align: center;
    color: white;
}
.texto{
    height: 40px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
     padding: 0px;
}
.card-deck .card {


    margin-bottom: 40px;

}
.ol, ul, dl {
    margin-top: -3px;
}
.card-text{
    // background: #fdfdfdb3;
    height: 122px;
}
.card-title{
    background: #fdfdfdb3;
    // margin-bottom: 0px;
    text-align: center;
}
.cuerpoBody{
    // background: #fdfdfdb3;
    // color: black;
    // height: 40px;
    background: #1c1c1cb3;
    color: white;
}
// .container {
//        max-width: 766px;}
.boton{
    float: right;
}
.logochamp {
   height: 55px;
    width: 62px;
}
.navbar{
    padding: 1.3rem 2rem;
    padding-bottom: 7px;
}


.playerContainer{
    overflow-y: hidden;
   width: 256px;
  flex-shrink: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;



}
.playercardland{
// border: 2px solid rgba(255, 243, 67, 0.94);
//     border-radius: 0.25rem;
}
.card-deck{
        display: flex;

           width: 3829px;

}
.card-img-top {
    width: 70%;
    margin-left: 173px;}

    .card-img-top1 {
    width: 100%;
    }

    .card-deck {

  height: 439px;
    text-align: left;
    }
.buttonTwo{float: right;
 margin-right: 140px;

}
.logincard{
    padding: 20px;
}
.ml-auto{
        margin-right: 130px;
}
.navbar-light .navbar-brand {

    margin-left: 140px;
}
   .mt-5, .my-5 {
    margin-top: 1rem !important;

}


    .far fa-heart{

        margin-left: 200px;
    }
    ul{
        list-style-type:  none;
        padding: 0px;
            padding-left: 11px;
    }
.mt-3{

    border-top: red solid 1px;
margin-left: 192px;
    width: 1000px;
}
.textoTarjeta{
    color: white;
}









.descriptionText{
overflow-wrap: break-word;
}
.gameDescription{
 background: #20251cb0;
    height: 200px;
    width: 256px;
    overflow-wrap: break-word;
    color: white;
     font-size: 20px;
}



.carou{
    max-width: 20px;
    height: 20px;
}

.carousel{
    margin: auto;
    // margin-top: 93px;
max-width: 258px;
}
.d-block-real{
    margin-left: 44px;
    width: 170px;
    padding-bottom: 8px;
}
.mt-5, .my-5 {
    margin-top: 9rem !important;
}
// .row {
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
//     margin-top: 91px;
// }
.opponent{

    position: relative;
    bottom: -171px;
}
.btn-primary {
    color: #fff;
    background-color: #9e9e9eb5;
    border-color:#9e9e9eb5;
}
.d-block{
    margin-left: 15px;
}
.loginPage{
height: 100%;
align-content: center;
}

.card{

height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}
.social_icon span:hover{
color: white;
cursor: pointer;
}
.card-header h3{
color: white;
}
.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
.remember{
color: white;
}
.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}
.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}
.login_btn:hover{
color: black;
background-color: white;
}
.links{
color: white;
}
.links a{

    color: #ffc107;
margin-left: 4px;
}
.tarjetas{
        // background-image: url('https://ichef.bbci.co.uk/news/720/cpsprodpb/238D/production/_95410190_gettyimages-488144002.jpg');
    //width: 200px;
    background-image: url('https://wallpaperplay.com/walls/full/7/a/d/93194.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     width: 100%;
    height: 1100px;
    margin: auto;
}
.card-header{
     color:white;

}

.col-2{
       -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 18.666667%;
}

.Row{

  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 190px;
    margin-top: -215px;
}


.wrapper{
    height: 100%;
align-content: center;
}


.cardPlayer{
    height: 290px;
    margin-top: auto;
    margin-bottom: auto;
    width: -200px;
    background:black;
}

.player1{
    float:left;
}

.player2{
    float:right;
}




p {

    margin-bottom: 1rem;
}

.test{
    display: none;
}

// .test{
//     display: none;
// }
h2{
margin-left:1em;
color:white;
}

h3{
font-size:2rem;
color: white;
}

h4{
margin-left: 3em;
font-size: 2rem;
color: white;
}

h1{
color:white;
}


h5{
color:white;
text-align: center;
}

.styles{
color:white;
}




.cardTeam {
    width: 12rem;
    height: 18rem;
    font-size: 14px;
}
.secondRow{
  height: 30%;
}
.firstRow{
  height: 5%;
}
.thirdRow{
  height: 15%;
}
.score {
  font-size: 70px;
}
.card.text-center.text-light.playedCard {
    height: 250px;
    width: 10rem;
    font-size: 15px;
}



.generalRow{
height: 5%;
}


.playercardland{
    margin-top: 20px;
}







