body{
background-image: url('https://pbs.twimg.com/media/DV0uCtTW4AAyeuZ.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container {
       max-width: 766px;}
.boton{
    float: right;
}
.logochamp {
   height: 55px;
    width: 62px;
}
.navbar{
    padding: 1.3rem 2rem;
    padding-bottom: 7px;
}
.carousel{
max-width: 258px;
margin: auto;
    margin-top: 93px;
}
.d-block-real{
    margin-left: 44px;
    width: 170px;
    padding-bottom: 8px;
}
.opponent{

    position: relative;
    bottom: -171px;
}

.bg-dark {
    background-color: #ffda3a !important;
}
.d-block{
    margin-left: 15px;
}
.loginPage{
height: 100%;
align-content: center;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}
.social_icon span:hover{
color: white;
cursor: pointer;
}
.card-header h3{
color: white;
}
.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
.remember{
color: white;
}
.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}
.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}
.login_btn:hover{
color: black;
background-color: white;
}
.links{
color: white;
}
.links a{
margin-left: 4px;
}
.tarjetas{
        background-image: url('https://ichef.bbci.co.uk/news/720/cpsprodpb/238D/production/_95410190_gettyimages-488144002.jpg');
    //width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     width: 100%;
    height: 100%;
    margin: auto;
}
.card-header{
     color:white;

}

.col-2{
       -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 18.666667%;
}

.Row{

  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 190px;
    margin-top: -215px;
}


.wrapper{
    height: 100%;
align-content: center;
}


.cardPlayer{
    height: 290px;
    margin-top: auto;
    margin-bottom: auto;
    width: -200px;
    background:black;
}

.player1{
    float:left;
}

.player2{
    float:right,
}